<?xml version="1.0"?>
<config>
  <modules>
    <BranchLabs_Contact>
      <version>0.1.0</version>
    </BranchLabs_Contact>
  </modules>
  <frontend>
    <routers>
      <contact>
        <use>standard</use>
          <args>
            <module>BranchLabs_Contact</module>
            <frontName>contact</frontName>
          </args>
      </contact>
    </routers>
		<layout>
		  <updates>
			<contact>
			  <file>contact.xml</file>
			</contact>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <contact>
        <class>BranchLabs_Contact_Helper</class>
      </contact>
    </helpers>
	<blocks>
	  <contact>
		<class>BranchLabs_Contact_Block</class>
	  </contact>
	</blocks>
	<models>
	  <contact>
		<class>BranchLabs_Contact_Model</class>
		<resourceModel>contact_mysql4</resourceModel>
	  </contact>
	  <contact_mysql4>
		<class>BranchLabs_Contact_Model_Mysql4</class>
		<entities>		  
			  <contacts>
				<table>contacts</table>
			  </contacts>
        </entities>
	  </contact_mysql4>
	</models>
	<resources>
	  <contact_setup>
		<setup>
		  <module>BranchLabs_Contact</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </contact_setup>
	  <contact_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </contact_write>
	  <contact_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </contact_read>
	</resources>
  </global>
</config> 